<h1 class="VSR"> Vijay Sundar Rajan </h1>
.VSR {
	font-size: 40px;
	color:#00CED1;
	font-family:Trebuchet MS;
}

<p1 class="A"> Hi, I'm Vijay Sundar Rajan.</p1>

.A {
	font-size: 36px;
	color:#00BFFF;
	font-family:Trebuchet MS;
}

<p2 class="B"> Interests: Philosophy, Mathematics, Linguistics, Economics, Physics, Genetic Engineering, Psychology, Organic Chemistry</p2>

.B {
	font-size: 36px;
	color:#00BFFF;
	font-family:Trebuchet MS;
}

<p3 class="C'"> Education: ESSEC Business School (Year 1), Hiranandani Foundation School (graduated).</p3>

.C {
	font-size: 36px;
	color:#00BFFF;
	font-family:Trebuchet MS;
}

<p4 class="D"> Hobbies: Writing stories, composing music, designing architecture.</p4>

.D {
	font-size: 36px;
	color:#00BFFF;
	font-family:Trebuchet MS;
}